.footer {
  text-align: center;
  margin: 1rem 0;

  a {
    color: var(--link);
  }

  &-content {
    ul {
      padding: 0 15px;
      list-style: none;
      // 超出长度不换行并且可以左右滑动（适配手机端）
      overflow-x: auto;
      white-space: nowrap;

      li {
        display: inline-block;
      }
    }

    li+li {
      &::before {
        content: "・";
        position: relative;
        color: inherit;
      }
    }

    p {
      margin: 5px 0;
    }
  }
}