.post {
  padding: 20px 3%;
  box-shadow: var(--box-shadow);
  background-color: var(--card1);
  border-radius: var(--radius);
  margin-top: 20px;
  word-wrap: break-word;
  position: relative;

  a {
    color: var(--theme-9);
  }

  ul {
    //恢复默认样式
    list-style: disc;
  }

  ul,
  ol {
    padding-inline-start: 1.5rem;
    margin: 6px 0;
  }

  code,
  kbd,
  pre,
  samp {
    margin: 0 3px;
    padding: 2px 4px;
    color: var(--theme-9);
    border-radius: 4px;
    background-color: var(--theme-0);
    font-size: 0.875rem;
    font-family: Menlo, Monaco, Consolas, Lucida Console, Courier New, monospace;
  }

  // 文章目录相关
  &-toc {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 230px;
    height: 75vh;
    background: var(--card1);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 0.75rem;
    box-shadow: var(--box-shadow);
    scrollbar-width: none; // 隐藏滚动条
    z-index: 1000;
    resize: horizontal;
    overflow: auto;
    min-width: 100px;
    min-height: 100px;
    max-width: 500px;
    max-height: 90vh;
    
    &-header {
      cursor: move; // 可拖拽提示
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      h2 {
        text-align: center;
        margin: 0;
      }
    }

    // 重置列表默认样式
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    &-item {
      /* 
     --toc-level: JS 传入的相对层级 (0, 1, 2...)
     --toc-indent-unit: 缩进单位 (默认 1.5em，可全局修改)
     0 为兜底值，防止变量未设置时计算出错
    */
      padding-left: calc(var(--toc-level, 0) * var(--toc-indent-unit, 1.5em));

      a {
        display: block;
        text-decoration: none;
        color: var(--text1) !important; //链接属性颜色影响视觉，强制使用文本颜色
        padding: .2em;
        margin: .1em 0;
        border-radius: var(--radius);
        transition: all 0.2s ease;

        &:hover {
          background-color: var(--theme-5);
          color: #fff !important; // 由于上面用了important，要使得该属性生效也要使用
          cursor: pointer;
        }

        &.active {
          background-color: var(--theme-8);
          color: #fff !important; // 由于上面用了important，要使得该属性生效也要使用
        }
      }
    }

    // 目录关闭按钮
    &-close-btn {
      font-size: 12px;
      border-radius: 100px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      border: none;
      padding: 0;
      background-color: var(--card2);
    }

    // 目录打开兼关闭按钮
    &-toggle-btn {
      display: none;
      color: var(--text1);
      position: absolute;
      top: 0px;
      left: 0px;
      border: none;
      border-radius: 0 0 33px 0;
      width: 40px;
      height: 70px;
      cursor: pointer;
      background-color: var(--card2);
    }

    // 仅当屏幕宽度大于834时才会显示“目录打开兼关闭按钮”
    @media only screen and (min-width: 834px) {
      &-toggle-btn {
        display: block;
      }
    }
  }

  // 文章标题
  &-title {
    text-align: center;
  }

  // 文章元数据
  &-meta {
    text-align: center;

    li {
      display: inline-block;
    }
  }

  // 文章最后修改的时间
  &-modified {
    text-align: center;
    color: var(--text2);
  }

  //文章内容
  &-content {
    img {
      max-width: 100%;
    }

    h2 {
      border-bottom: 1px solid var(--border);
      padding-bottom: 0.3rem;
    }

    li+li {
      margin-top: 0.625rem;
    }
  }

  // 文章末尾标签
  &-tags {
    margin: 1rem 0;

    a {
      display: block;
      border-radius: var(--radius);
      display: inline-block;
      padding: 0.3125rem;
      background-color: var(--card2);
      margin-right: 0.625rem;

      &:hover {
        background-color: var(--theme-8);
        color: #fff !important;
      }
    }
  }
}